body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #000; /* Fundo preto */
    width: 800px; /* Defina a largura do canvas */
    height: 600px; /* Defina a altura do canvas */
}